@model IEnumerable<CourseWork.Models.ApplicationUser>

@{
    ViewData["Title"] = "Admin'ochka";
}

<h1>User management</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th scope="col">
                Lockout
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th scope="row">
                <a asp-area="" asp-controller="Admin" asp-action="Page">@Html.DisplayFor(modelItem => item.Email)</a>
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnd)
            </td>
            <td>
                <a asp-area="" asp-controller="Admin" asp-action="Edit" asp-route-id="@item.Id">Edit</a>|
                <a asp-area="" asp-controller="Admin" asp-action="Delete" asp-route-id="@item.Id">Delete</a>|
                @if (item.LockoutEnd > DateTime.Now)
                {
                    <a asp-area="" asp-controller="Admin" asp-action="Unblock" asp-route-id="@item.Id">Unblock</a>
                }
                else
                {
                    <a asp-area="" asp-controller="Admin" asp-action="Block" asp-route-id="@item.Id">Block</a>
                }

            </td>
        </tr>
}
    </tbody>
</table>
