<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Localizer["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @{
        string theme;
        if (Context.Request.Cookies.TryGetValue("theme", out theme))
        {
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/@(theme).css" />
        }
        else
        {
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/Dark.css" />
        }
    }
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Title"]</a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["HomePage"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Privacy"]</a>
                        </li>
                        <partial name="_LoginPartial" />
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@Localizer["Theme"]</a>
                            <div class="dropdown-menu">
                                <form class="form-inline" asp-area="" asp-controller="Cookies" asp-action="SetTheme" asp-route-returnUrl="@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)"
                                      asp-route-theme="Dark">
                                    <button type="submit" class="dropdown-item">@Localizer["Dark"]</button>
                                </form>
                                <div class="dropdown-divider"></div>
                                <form class="form-inline" asp-area="" asp-controller="Cookies" asp-action="SetTheme" asp-route-returnUrl="@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)"
                                      asp-route-theme="Light">
                                    <button type="submit" class="dropdown-item">@Localizer["Light"]</button>
                                </form>
                            </div>
                        </li>
                        <partial name="_SelectCulturePartial" />
                    </ul>
                    <form asp-area="" asp-controller="Home" asp-action="Search" class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" name="text" type="text" placeholder="@Localizer["Search"]">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">@Localizer["Search"]</button>
                    </form>
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
