@model CourseWork.Models.ChapterEditingViewModel

<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<body>
    <input type="hidden" id="customInput" value="@ViewBag.BookId" />
    @if (Model.Chapter != null)
    {
        <form asp-action="EditBook" enctype="multipart/form-data">
            <input type="hidden" id="chapterId" asp-for="Chapter.Id" value="@Model.Chapter.Id" />
            <textarea asp-for="Chapter.Text" id="EditingArea">@Model.Chapter.Text</textarea>
            <div class="file-upload-wrapper">
                <input type="file" asp-for="Picture" id="input-file-now" class="file-upload" />
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-danger">Save</button>
                <a asp-action="DeleteChapter" asp-route-bookId="@ViewBag.BookId"
                   asp-route-chapterId="@Model.Chapter.Id" class="btn btn-danger">Delete chapter</a>
            </div>
        </form>
    }
    else
    {
        <textarea disabled id="EditingArea">Choose or add chapter to edit</textarea>
    }
    
    <a asp-action="NewChapter" asp-route-bookId="@ViewBag.BookId" class="btn btn-danger">Add chapter</a>

    <ul class='list-group list-group-horizontal chaptersList' id="chaptersList">
        @for (int i = 1; i <= ViewBag.Chapters; i++)
        {
            <li class="list-group-item">
                <span class="my-handle">:: </span>
                <a asp-action="EditBook" asp-route-bookId="@ViewBag.BookId" asp-route-chapterNum="@i">@i</a>
            </li>
        }
    </ul>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/sortable.js"></script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
    var simplemde = new SimpleMDE({
        element: document.getElementById("EditingArea"),
        spellChecker: false,
        toolbar: [{
            name: "bold",
            action: SimpleMDE.toggleBold,
            className: "fa fa-bold btn-info",
            title: "Bold",
            },
            {
                name: "italic",
                action: SimpleMDE.toggleItalic,
                className: "fa fa-italic btn-info",
                title: "Italic",
            },
            {
                name: "strikethrough",
                action: SimpleMDE.toggleStrikethrough,
                className: "fa fa-strikethrough btn-info",
                title: "Strikethrough",
            },
            {
                name: "heading-bigger",
                action: SimpleMDE.toggleHeadingBigger,
                className: "fa fa-header btn-info",
                title: "Bigger Heading",
            },
            "|",
            {
                name: "unordered-list",
                action: SimpleMDE.toggleUnorderedList,
                className: "fa fa-list-ul btn-info",
                title: "Generic List",
            },
            {
                name: "ordered-list",
                action: SimpleMDE.toggleOrderedList,
                className: "fa fa-list-ol btn-info",
                title: "Numbered List",
            },
            "|",
            {
                name: "link",
                action: SimpleMDE.drawLink,
                className: "fa fa-link btn-info",
                title: "Create Link",
            },
            "|",
            {
                name: "preview",
                action: SimpleMDE.togglePreview,
                className: "fa fa-eye no-disable btn-info",
                title: "Toggle Preview",
            },
            {
                name: "guide",
                action: 'https://simplemde.com/markdown-guide',
                className: "fa fa-question-circle btn-info",
                title: "Markdown Guide",
            },
        ],
    });

    var list = document.getElementById('chaptersList');
    Sortable.create(list, {
        handle: ".my-handle",
        animation: 150,
        onEnd: function (evt) {
            var data = {bookId: $('#customInput').val(), was: evt.oldIndex, become: evt.newIndex };
            $.ajax({
                type: "POST",
                url: '@Url.Action("ChangeChaptersOrder","Account")',
                contentType: 'application/x-www-form-urlencoded',
                data: data,
                success: function (result) {
                    SortChaptersList();
                    console.log(result);
                }
            })
        },
    });    

    function SortChaptersList() {
        var items = $('#chaptersList > li').get();
        console.log(items);
        items.sort(function (a, b) {
            var keyA = parseInt($(a.children[1]).text());
            var keyB = parseInt($(b.children[1]).text());

            if (keyA < keyB) return -1;
            if (keyA > keyB) return 1;
            return 0;
        });
        var list = $('#chaptersList');
        $.each(items, function (i, li) {
            list.append(li);
        });
    }
</script>
