@model string[] 

<div class="list-group">
    <h3>@Localizer["Contents"]</h3>
    @for (int i = 0; i < Model.Length; i++)
    {
        <a asp-action="ReadBook" asp-route-bookId="@ViewBag.BookId" 
           asp-route-chapterNum="@(i + 1)" class="list-group-item list-group-item-action">@(i + 1). @Model[i]</a>
    }
</div>
