@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/tagify.css">
</head>

<body>
    <style>
        h3 {
            color: grey;
        }

        #bloc {
            border: solid;
            border-color: grey;
        }

        .tagify__dropdown__item {
            color: black;
        }
    </style>
    <input type="hidden" id="customInput" value="@ViewBag.tags" />

    <form asp-action="Index" class="form-inline">
        <p></p>
        <input class="form-control tags" name="tags" type="text" placeholder="@Localizer["TagSearch"]">
        <button class="btn btn-secondary" type="submit">@Localizer["Search"]</button>
    </form>

    @if (ViewBag.ContainTags != null)
    {
        <h3>@Localizer["Results"]:</h3>

        @foreach (var book in ViewBag.ContainTags)
        {
            <div id="bloc">
                <h5><a asp-action="Contents" asp-route-bookId="@book.Id">@book.Name | @book.AverageRating&#9957</a></h5>
                <p>@book.Description</p>
            </div>
            <p></p>
        }
    }
    <h3>@Localizer["LastUpdates"]:</h3>

    @foreach (var book in ViewBag.LastUpdateBooks)
    {
        <div id="bloc">
            <h5><a asp-action="Contents" asp-route-bookId="@book.Id">@book.Name | @book.AverageRating&#9957</a></h5>
            <p>@book.Description</p>
        </div>
        <p></p>
    }

    <h3>@Localizer["BestRating"]:</h3>
    @foreach (var book in ViewBag.HighRatingBooks)
    {
        <div id="bloc">
            <h5><a asp-action="Contents" asp-route-bookId="@book.Id">@book.Name | @book.AverageRating&#9957</a></h5>
            <p>@book.Description</p>
        </div>
        <p></p>
    }

</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/tagify.min.js"></script>
<script>
        var tags = $("#customInput")[0].getAttribute("value");
        console.log(tags);
        var input = $(".tags")[0],
            tagify = new Tagify(input, {
                whitelist: tags.split(','),
                maxTags: 10,
                dropdown: {
                    maxItems: 20,
                    classname: "add-tag-to-support-dark", 
                    enabled: 0, 
                    closeOnSelect: false
                }
            })
</script>